
body {
	background-image: url('/tweed.png');
	background-color:#ffffff;
	font-family: 'Londrina Shadow', cursive;
	font-size: 25px;
}

.head-title{
	text-align: center;
}

#grid-container{
	background-color: white;
	width: 594px;
	height: 600px;
	overflow: hidden;
	margin: auto;
	position: absolute;
	top:0; 
	left: 0; 
	bottom:0; 
	right: 0;
	padding:10px;
	font-family: Arial;
	color:white;
	cursor: pointer;
	-moz-box-shadow:    1px 1px 1px 0px #000000;
	  -webkit-box-shadow: 1px 1px 1px 6px #000000;
	  box-shadow:         0px 0px 3px 0px #000000;
}

.box{
	border:1px solid white;
	width:10px;
	height:10px;
	margin-left: -1px;
	float: left;
}
.sp-replacer{
	font: Arial;
	background-color: white;
	border-color: white;
}

#footer{
	position: absolute;
	bottom: 0px;
	font-family: Arial;
	font-size: 14px;
	color: black;
}