<head>
  <title>copixelgrid</title>
<link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>

<body>
	<h2 class="head-title">Draw together!</h1>
	<div id="colpicker">
		<input type='text' class="basic"/>
		<em id='basic-log'></em>
	</div>

	<div id="grid-container">{{> boxes}}</div>
	<div id="footer"><a href="http://work.filipvanharreveld.nl" target="_blank">Filip van Harreveld</a></div>
</body>

<template name="boxes">
	{{#if dataLoaded}}
		{{# each box}}
			<div class="box" id={{boxID}} style="background-color:{{boxCol}}"></div>
		{{/each}}
	{{else}}
		{{> spinner}}
	{{/if}}
</template>